/* Background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #6c88d6;

}

.navbar-main-container {
    width: 100%;
    background: #192546;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    ;
}


.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.project-name {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    align-items: center;
    gap: 400px;
}

.nav-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;
    
    
   
}

.auth-links-container {
    display: flex;
    gap: 10px;
    cursor: pointer;
    
    
}

.menu-item {
    color: white;
    text-decoration: none;
    font-size: 17px;
    transition: 0.2s ease;
  
}

.menu-item:hover {
    color: orange;
}
